<h3>
Welcome <%= @user.name %><br>
</h3>
<br>
<p><%= flash[:error] %></p>
<h4>Your Recent ratings:<br></h4>
<% @user.ratings.each do |r| %>
    <div style="
    padding: 10px;
    border: 3px solid white;
" >
    <%= link_to r.hotel.name, hotel_path(r.hotel_id) %> - <%= r.stars %> stars - <%= r.description %><br>
    <% if @user == current_user %>
    <%= link_to "Edit", edit_rating_path(r.id) %> <%= link_to "Delete", rating_path(r.id), method: :delete %><br>
    <% end %>
    </div>
<% end %>