<h2>Edit the rating for <%= @rating.hotel.name %></h2>

<p style="padding-left: 572px; color: red;"><%= flash[:error] %></p>

<div style="
grid-template-columns: min-content; 
row-gap: 10px; 
border: 3px solid gray;
padding: 18px;
width: 30%;
margin: auto; ">
<%= form_for(@rating) do |f| %>
    <div>
        <%= f.label :stars %>
        <%= f.number_field :stars, min: 0, max: 5 %>
    </div>
    <div>
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div> 
    
    
    <%= f.submit %>
<% end %>
</div>