<h1> ADD A NEW HOTEL </h1>

<%= form_for(@hotel) do |f| %>
    <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :price %>
        <%= f.text_field :price %>
    </div>
    <div>
        <%= f.label :free_wifi %>
        <%= f.select :free_wifi, options_for_select(["Select One","Yes", "No"],:disabled => ["Select One"]) %>
    </div>
    <div>
        <%= f.label :free_breakfast %>
        <%= f.select :free_breakfast, options_for_select(["Select One","Yes", "No"],:disabled => ["Select One"]) %>
    </div>

    <p>Select a Location:</p>
        <div>
            <%= f.label :city %>
            <%= f.collection_select :location_id, Location.all,:id, :city %>
            <%= f.label :state %>
            <%= f.collection_select :location_id, Location.all,:id, :state %>
        </div>
    <p> Or Create a new Loaction: </p>
        <div>
            <%= f.fields_for :location do |l| %>
                <%= l.label :city %>
                <%= l.text_field :city %>
                <%= l.label :state %>
                <%= l.text_field :state %>
            <% end %>
        </div>

    <%= f.submit "ADD" %>
<% end %>

location_id
user_id


