<!DOCTYPE html>
<html>
  <head>
    <title>Hotelify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div>
    <%= link_to "Log Out", logout_path, method: :delete %>
    <%= link_to "Add a Hotel", new_hotel_path %>
    <%= link_to "All Hotels", hotels_path %>
    <%= link_to "Add a rating", new_rating_path %>
    <%= link_to "All ratings", ratings_path %>
    <%= link_to "All locations", locations_path %>
  </div>

  <body>
  <div><%= flash[:message] %></div>
    <%= yield %>
  </body>
</html>
